/tmp
/registries
/packages
*.secret.toml
oldlogs/
*.log
nohup.out
run/stop*
docs/build/
docs/Manifest.toml
.vscode

# Temporary files and directories created by Julia:
test/jl_*
test/jl_*/
test/registries/

Manifest.toml
